body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.box{
    height: 100px;
    width: 100px;
}
.container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}
#yellow-box{
    background-color: yellow;
    transform-origin: top right;
}
#blue-box{
    background-color:blue;
    transform-origin: bottom left;
}
#green-box{
    background-color: green;
    transform-origin: bottom right;
}
#red-box{
    background-color: red;
    transform-origin: top left;
}
.container:hover .anti_clock{
    transition: transform 1s;
    transform: rotate(-90deg);

}
.container:hover .clock{
    transition: transform 1s;
    transform: rotate(90deg);
}